.header {
    background-size: 100%;
    margin: 0 auto;
    border-bottom: 1px solid #D9D9D9;

    &__container {
        width: 1108px;
        margin: 23px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__logo {
        width: 198px;
        height: 72px;

        &__img {
            width: 198px;
            height: 72px; 
        }
    }

    &__search_bar {
        margin-top: 11px;
        width: 650px;
        height: 50px;
        background: #EBEBEB;
        border: 2px solid #EBEBEB;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;

        &__catalog_button {
            border: none;
            background: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            width: 170px;
            height: 50px;

            font-family: "Roboto", serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;

            color: #000000;

            &:hover{
                cursor: pointer;
            }
        }

        &__search {
            width: 438px;
            border: none;
            background-color: transparent;
        }

        &__search_button {
            padding: 0;
            margin: 12.5px 18px 12.5px 0;
            width: 24px;
            height: 25px;
            border: none;
            background-color: transparent;
            background-image: url(../image/icons/search.svg);

            &:hover{
                cursor: pointer;
            }
        }
    }

    &__menu_icons {
        margin-top: 20px;
        height: 32px;
        padding: 0;
        display: flex;
        list-style: none;
    }

    &__menu_icon {
        padding: 0;
        margin: 0;

        margin-right: 22px;

        &:last-child{
            margin-right: 0;
        }

        &__img {
            width: 32px;
            height: 32px;
            background-color: transparent;

            &:hover {
                cursor: pointer;
            }
        }
    }
}