.page {
    align-self: center;
    color: #fff;
    margin: 0 auto;
  
    font-family: 'Roboto', Arial, sans-serif;

    &__main {
      max-width: 1280px;
      margin: 0 auto;
      min-height: 100vh;
    }
  }
