.popup {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  justify-items: center;
  align-items: center;

  &__opened {
    visibility: visible;
    opacity: 1;
  }

  &__container {
    width: 720px;
    background: #FFFFFF;
    border-radius: 20px 0 0 0;

    margin: 164px auto 0 auto;
    position: relative;

    padding-bottom: 44px;

    &__close_button {
      position: absolute;

      top: 22px;
      right: 22px;

      background-image: url("../image/icons/close.svg");
      background-size: 27px 27px;
      background-repeat:no-repeat;
      background-position: center;
      background-color: transparent;
      border: 0;

      width: 27px;
      height: 27px;

      cursor: pointer;
    }
  }

  &__title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;

    color: #000000;

    margin: 0 auto;
    padding: 44px 0 53px 0;
  }

  &__form {
    width: 537px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;

    &__input {
      width: 529px;
      height: 57px;

      background: #EBEBEB;
      border: 2px solid #EBEBEB;
      border-radius: 10px;

      &:first-child {
        margin-bottom: 29px;
      }
    }

    &__save_button {
      margin: 56px auto 0 auto;
      padding: 14px 0;
      width: 537px;
      text-align: center;

      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 28px;
      line-height: 28px;

      color: #FFFFFF;

      border: none;
      background: #FE7D00;
      border-radius: 10px;
    }

    &__login_link {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 18px;
      line-height: 18px;

      color: #000000;

      margin: 15px 0 0 0;
      padding: 0;
      text-align: center;

      text-decoration: none;
    }
  }
}

