.card {
    width: 344px;
    height: 408px;

    background: #FFFFFF;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
    border-radius: 20px 0 0 0;

    &__top {
        display: flex;
        justify-content: space-between;
        margin: 0 15px 0 15px;
        padding-top: 13px;
        height: 42px;

        &__like {
            width: 32px;
            height: 32px;

            border: none;
            background-color: transparent;
            background-image: url("../image/icons/like.svg");

            &:hover {
                cursor: pointer;
            }

            &__active {
                background-image: url("../image/icons/like__active.svg");
                width: 32px;
                height: 32px;

                border: none;
                background-color: transparent;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        &__sale {
            font-family: 'Roboto', serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;

            color: #FFFFFF;

            padding: 7px 23px;
            margin: 0;

            width: 52px;

            background: #FE7D00;
            border-radius: 10px;
            border: none;
        }
    }



    &__img {
        margin: 5px 0 0 60px;
        width: 224px;
        height: 232px;
        object-fit: cover;
    }

    &__description {
        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;

        height: 42px;

        color: #000000;

        padding: 0;

        margin: 0 17px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;

        margin: 5px 16px 0 16px;

        &__prices {
            align-self: center;

            &__old {
                font-family: 'Roboto', serif;
                font-style: normal;
                font-weight: 700;
                font-size: 20px;
                line-height: 23px;

                color: #BBBABA;

                margin: 0;
                padding: 0;
            }

            &__new {
                font-family: 'Roboto', serif;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;

                color: #FF0303;

                margin: 0;
                padding: 0;
            }

            &__price {
                font-family: 'Roboto', serif;
                font-style: normal;
                font-weight: 700;
                font-size: 24px;
                line-height: 28px;

                color: #000000;

                margin: 0;
                padding: 0;
            }

        }

        &__buy {
            background: #FE7D00;
            border: none;

            width: 59px;
            height: 59px;

            border-radius: 50px;

            background-image: url("../image/icons/buy_card.png");
            background-repeat: no-repeat;
            background-size: 25px;
            background-position: center;

            transition: .5s;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }

        }
    }
}