.carts {
  width: 1138px;

  margin: 38px auto 0 auto;

  &__title {
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    letter-spacing: 0.03em;

    color: #000000;

    margin: 0 0 38px 15px;
  }

  &__nothing {
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 54px;
    line-height: 56px;
    letter-spacing: 0.03em;

    color: #dadada;

    margin: 0;
    padding: 300px 0 0 0;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__column {
      display: flex;
      flex-direction: column;
      row-gap: 50px;
    }

    &__cards {
      display: flex;
      flex-direction: column;
      width: 667px;
      list-style: none;
      row-gap: 55px;

      padding: 0;
      margin-bottom: 194px;

      &__list {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e4e4;
      }
    }

    &__aside {
      width: 359px;
      height: 367px;

      background: #FFFFFF;
      box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.25);
      border-radius: 20px 0 0 0;

      &__min {
        height: 275px;
      }

      &__medium {
        height: 320px;
      }

      &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 32px;

        color: #000000;

        padding: 25px 0 0 28px;
        margin: 0;

        &__info {
          font-size: 28px;
          line-height: 38px;
        }
      }

      &__info {
        width: 292px;
        padding: 32px 39px 57px 28px;

        &__count {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          flex-wrap: wrap;
          margin-bottom: 14px;

          &:last-of-type {
            margin-bottom: 0;
          }

          &__text {
            font-style: normal;
            font-weight: 300;
            font-size: 20px;
            line-height: 23px;

            color: #000000;

            margin: 0;
            padding: 0;

            &__address {
              padding-top: 10px;
            }

            &__date {
              width: 292px;
              padding: 10px 0;
            }
          }
        }
      }

      &__result {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        width: 309px;
        margin: 0 auto;
        padding-bottom: 32px;

        &__text {
          font-style: normal;
          font-weight: 300;
          font-size: 20px;
          line-height: 23px;

          color: #000000;

          margin: 0;
          padding: 15px 0 0 0;
        }

        &__price {
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 38px;

          color: #000000;

          margin: 0;
          padding: 0;
        }
      }

      &__button {
        border: none;
        background: #FE7D00;
        border-radius: 10px;

        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 23px;

        color: #FFFFFF;

        padding: 16px 76px;

        margin: 0 24px 32px 24px;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}