.category {
    margin: 45px auto 0 auto;
    max-width: 1141px;
}

.cards {
    list-style: none;
    display: flex;
    justify-content: space-between;

    padding: 0;
    margin: 0 0 46px 0;

    width: 1140px;
}