.carts__container__cards__list {
    &__img {
      width: 193px;
      height: 193px;
      object-fit: cover;

      &:hover {
        cursor: pointer;
      }
    }

    &__info {
      width: 454px;
      display: flex;
      justify-content: space-between;

      &__container {
        width: 280px;

        &__sale {
          font-style: normal;
          font-weight: 400;
          font-size: 24px;
          line-height: 28px;

          color: #FFFFFF;

          margin: 0;
          padding: 6px 22px;

          background: #FE7D00;
          border-radius: 10px;

          width: 52px;
        }

        &__name {
          font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 21px;

          color: #000000;

          text-overflow: ellipsis;
          overflow: hidden;

          width: 280px;
          height: 42px;
          margin: 16px 0 30px 0;
          padding: 0;

          &:hover {
            cursor: pointer;
          }
        }

        &__counter {
          display: flex;
          flex-direction: row;

          width: 140px;
          background: #EBEBEB;
          border: 2px solid #EBEBEB;
          border-radius: 20px;

          &__minus {
            width: 40px;
            height: 40px;
            margin: 1px 0 1px 2px;

            background: #FFFFFF url("../image/icons/minus.svg") center no-repeat;
            border-radius: 50px;
            border: none;

            &:hover {
              cursor: pointer;
            }
          }

          &__count {
            text-align: center;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 12px;

            color: #000000;

            padding: 0;
            margin: 14px auto;
            width: 40px;
          }

          &__plus {
            width: 40px;
            height: 40px;
            margin: 1px 2px 1px 0;

            background: #FFFFFF url("../image/icons/plus.svg") center no-repeat;
            border-radius: 50px;
            border: none;

            &:hover {
              cursor: pointer;
            }
          }
        }
      }

      &__prices {
        text-align: end;
        align-items: end;
        align-content: center;
        width: 130px;

        &__old {
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;

          color: #BBBABA;

          padding: 0;
          margin: 71px 0 0 0;
        }

        &__new {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;

          color: #000000;

          padding: 0;
          margin: 0;
        }

        &__price {
          font-style: normal;
          font-weight: 700;
          font-size: 24px;
          line-height: 28px;

          color: #000000;

          padding: 0;
          margin: 79px 0 0 0;
        }
      }
    }
}
