.card {
    position: relative;
    width: 334px;
    height: 293px;
    border-radius: 20px 0 0 0;
    overflow: hidden;

    &__img {
        position: absolute;
        top: 0;
        width: 334px;
        height: 293px;
        overflow: hidden;

        transition: .5s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__info_container {
        position: absolute;

        width: 334px;
        height: 108px;

        top: 185px;

        background-color: rgba(217, 217, 217, 0.8);

        display: flex;
    }

    &__title {
        align-self: center;

        padding: 0;
        margin: 0;
        margin-left: 18px;

        width: 277px;

        font-family: 'Roboto', serif;
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;

        color: #000000;
    }

    &:hover {
        cursor: pointer;
    }
}